**Protyush Kumar Das (pdas2s)**<br>
**Somesh Devagekar (sdevag2s)**

# Build a spam classifier using Naive Bayes

## Project Description: 
- There are three datasets for training: TrainDataset1.csv, TrainDataset2.csv and TrainDataset3.txt. Each dataset contains short messages with the labels (ham or spam). 
- Analyse, clean and visualise these datasets.
- Combine them into one big data set for the training
- Use this dataset in order to build your own Naive Bayes classifier. (You can either use existing Naive Bayes from sklearn or build your own one)
- Verify your Classifier using new messages (create your own messages or use the messages from the TestDataset.csv dataset).

## Project Duration: 2 weeks
## Project Deliverables:
1. End of the first week do Data preprocessing: 
    - Load the dataset using pandas, 
    - Analysis it for this you will need to process the text, namely remove punctuation and stopwords, and then create a list of clean text words. (Research how to do this) 
    - Visualise the results
    - Prepare the pre-processed data for the usage by Naive Bayes Classifier
2. End of the second week:
    - Train the classifier,
    - Validate it, build confusion matrix, analyse its results
    - Apply it to new test messages,
    - Try to cheat the classifier by adding "good words" to the end of test message.

You can use the following link can be used as guidance for implementation:
https://towardsdatascience.com/spam-filtering-using-naive-bayes-98a341224038

**Conversion of TrainDataset3.txt to TrainDataset3.csv**

In [1]:
import csv
with open('TrainDataset3.txt', 'r') as in_file:
    stripped = (line.strip() for line in in_file)
    lines = (line.split("	") for line in stripped if line)
    with open('log.csv', 'w') as out_file:
        writer = csv.writer(out_file)
        writer.writerow(('type', 'text'))
        writer.writerows(lines)

**Loading the data and concatenating into one**

In [41]:
import pandas as pd
import numpy as np
print(pd.__version__)

D_1=pd.read_csv('TrainDataset1.csv')
D_2=pd.read_csv('TrainDataset2.csv')
D_2.rename(columns={'v1': 'type', 'v2': 'text'}, inplace=True)
D_3=pd.read_csv('TrainDataset3.txt', sep=r"\t+", header=None ,engine="python")
D_3=D_3.rename(columns={0: "type", 1: "text"}, errors="raise")

TrainDataset=pd.concat([D_3,D_2,D_1])
TrainDataset

0.25.1

      type                                               text
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5554   ham  You are a great role model. You are giving so ...
5555   ham  Awesome, I remember the last time we got someb...
5556  spam  If you don't, your prize will go to another cu...
5557  spam  SMS. ac JSco: Energy is high, but u may not kn...
5558   ham                    Shall call now dear having food

[15590 rows x 2 columns]